[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pillow = "*"
pdf2image = "*"
numpy = "*"
funcy = "*"
python-poppler = "*"
returns = "*"
img2pdf = "*"
fpdf = "*"
scipy = "*"

[dev-packages]
autopep8 = "*"
mypy = "*"
flake8 = "*"
ipython = "*"

[requires]
python_version = "3.10"
